---
import { Picture } from "astro:assets";
import Grid from "../@common/Grid.astro";
import ImageAccess42 from "images/certifications/access42.png";
import ImageDesignersEthiques from "images/certifications/designers-ethiques.png";
import ImageIDF from "images/certifications/idf.png";
import ImageINR from "images/certifications/inr.png";
import ImageOpquast from "images/certifications/opquast.png";
---

<Grid>
  <div class="col-span-full">
    <ul class="flex justify-around flex-wrap items-center mt-[30px]">
      <li>
        <Picture
          src={ImageAccess42}
          class="w-[66px] h-[48px]"
          densities={[1, 2]}
          alt="Access 42"
        />
      </li>
      <li>
        <Picture
          src={ImageIDF}
          class="w-[141px] h-[46px]"
          densities={[1, 2]}
          alt="Interaction Design Foundation"
        />
      </li>
      <li>
        <Picture
          src={ImageOpquast}
          class="w-[100px] h-[25px]"
          densities={[1, 2]}
          alt="Opquast"
        />
      </li>
      <li>
        <Picture
          src={ImageINR}
          class="w-[100px] h-[36px]"
          densities={[1, 2]}
          alt="INR"
        />
      </li>
      <li>
        <Picture
          src={ImageDesignersEthiques}
          class="w-[100px] h-[45px]"
          densities={[1, 2]}
          alt="Designers Éthiques"
        />
      </li>
    </ul>
  </div>
</Grid>

<style>
  ul {
    @apply -mx-4;
  }
  li {
    @apply m-4 mb-[20px];

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
