---
import type { ImageMetadata } from "astro";
import { getCollection } from "astro:content";
import Grid from "../@common/Grid.astro";
import Separator from "../@common/Separator.astro";
import DiscreetDots from "../@common/DiscreetDots.astro";
import imgSnaleFloods from "images/collaborations/projects-screenshots/snale-floods.jpg";
import imgElle from "images/collaborations/projects-screenshots/elle.jpg";
import imgDynamo from "images/collaborations/projects-screenshots/dynamo.jpg";
import imgSys1 from "images/collaborations/projects-screenshots/sys1.jpg";
import imgInfopro from "images/collaborations/projects-screenshots/infopro.jpg";
import imgEkino from "images/collaborations/projects-screenshots/ekino.jpg";
import imgSSC from "images/collaborations/projects-screenshots/school-system-of-change.jpg";
import imgCapAtlantique from "images/collaborations/projects-screenshots/cap-atlantique.jpg";
import imgDXOMARK from "images/collaborations/projects-screenshots/dxomark.jpg";
import imgDesChalets from "images/collaborations/projects-screenshots/groupe-des-chalets.jpg";
import imgMeyerDom from "images/collaborations/projects-screenshots/meyer-dom.jpg";
import Project from "./Project.astro";

const screenshotMap: Record<string, ImageMetadata> = {
  "snale-floods": imgSnaleFloods,
  elle: imgElle,
  dynamo: imgDynamo,
  sys1: imgSys1,
  infopro: imgInfopro,
  ekino: imgEkino,
  "school-system-of-change": imgSSC,
  "cap-atlantique": imgCapAtlantique,
  dxomark: imgDXOMARK,
  "groupe-des-chalets": imgDesChalets,
  "meyer-dom": imgMeyerDom,
};

const projectEntries = await getCollection("projects");
const projects = projectEntries
  .sort((a, b) => a.data.order - b.data.order)
  .map((entry) => ({
    ...entry.data,
    screenshot: screenshotMap[entry.data.screenshotKey],
  }));
---

<Grid as="div">
  <h2 class="col-span-full text-title-large mb-[50px] lg:mb-4">
    Sélection de projets
  </h2>

  <p
    class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-full text-body-normal mb-20 lg:mb-[120px]"
  >
    Mes collaborations sont majoritairement placées sous clause de
    confidentialité.
  </p>
</Grid>

<div class="relative col-span-full lg:col-start-3">
  <div class="hidden xl:block absolute left-0 top-[2477px]">
    <DiscreetDots x={7} y={21} />
  </div>
  <ul class="space-y-[30px]">
    {
      projects.map((project, index) => (
        <li>
          <div class="mb-20 lg:mb-[50px]">
            <Project
              tags={project.tags}
              title={project.title}
              screenshot={project.screenshot}
              testimonials={project.testimonials}
              isOngoing={project.isOngoing}
            />
          </div>
          {index < projects.length - 1 && (
            <Grid as="div">
              <Separator class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3" />
            </Grid>
          )}
        </li>
      ))
    }
  </ul>
</div>
