---
import Grid from "../@common/Grid.astro";
import Separator from "../@common/Separator.astro";
import DiscreetDots from "../@common/DiscreetDots.astro";
import ProjectScreenshotElle from "images/collaborations/projects-screenshots/elle.jpg";
import ProjectScreenshotDynamo from "images/collaborations/projects-screenshots/dynamo.jpg";
import ProjectScreenshotSys1 from "images/collaborations/projects-screenshots/sys1.jpg";
import ProjectScreenshotInfopro from "images/collaborations/projects-screenshots/infopro.jpg";
import ProjectScreenshotEkino from "images/collaborations/projects-screenshots/ekino.jpg";
import ProjectScreenshotSSC from "images/collaborations/projects-screenshots/school-system-of-change.jpg";
import ProjectScreenshotCapAtlantique from "images/collaborations/projects-screenshots/cap-atlantique.jpg";
import ProjectScreenshotDXOMARK from "images/collaborations/projects-screenshots/dxomark.jpg";
import ProjectScreenshotDesChalets from "images/collaborations/projects-screenshots/groupe-des-chalets.jpg";
import ProjectScreenshotMeyerDom from "images/collaborations/projects-screenshots/meyer-dom.jpg";
import Project from "./Project.astro";
---

<Grid as="div">
  <h2 class="col-span-full text-title-large mb-[50px] lg:mb-4">
    Sélection de projets
  </h2>

  <p
    class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-full text-body-normal mb-20 lg:mb-[120px]"
  >
    Mes collaborations sont majoritairement placées sous clause de
    confidentialité.
  </p>
</Grid>

<div class="relative col-span-full lg:col-start-3">
  <div class="hidden xl:block absolute left-0 top-[2477px]">
    <DiscreetDots x={7} y={21} />
  </div>
  <ul class="space-y-[30px]">
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          tags={["Transformation produit", "Business model", "Site éditorial"]}
          isOngoing={true}
          title="Accompagner les équipes du magazine ELLE dans leur transformation produit et co-construire la future expérience en ligne"
          screenshot={ProjectScreenshotElle}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          tags={[
            "Design review",
            "Mentorat",
            "Accessibilité et éco-conception",
          ]}
          title="Faire monter en compétences les designers de dynamo avec des revues de design orientées accessibilité et éco-conception"
          screenshot={ProjectScreenshotDynamo}
          testimonials={[
            {
              quote:
                "Nous avons fait appel à Yuna pour évaluer des parcours utilisateurs sous l’angle de l’accessibilité et nous guider sur la mise en oeuvre des bonnes pratiques. Cette collaboration s’est révélée être une expérience extrêmement enrichissante pour nos designers. Yuna a démontré une expertise de premier ordre, qu’elle a partagée avec notre équipe avec beaucoup de pertinence et de générosité.",
              author: "Philippe Cossé, directeur associé chez dynamo",
            },
            {
              quote:
                "J'ai eu le plaisir de collaborer avec Yuna sur la création d'un site web pour lequel l'accessibilité était un enjeu essentiel. Nous avons itéré ensemble pendant toute la phase de conception UX pour s'assurer que les normes d'accessibilité étaient respectées et implémentées. C'était une expérience particulièrement intéressante qui m'a permis d'aborder mon travail avec un nouveau regard. J'ai beaucoup apprécié travailler avec Yuna dont les contributions et le professionnalisme ont été des atouts précieux.",
              author: "Inès Chopin, UX designer senior chez dynamo",
            },
            {
              quote:
                "Yuna fait partie de ces perles rares dans le milieu professionnel, à la fois passionnée et experte dans son domaine mais aussi très curieuse d’autres disciplines, avec une attitude pédagogue et toujours très humble. J'ai eu l’opportunité de faire appel à ses services durant la conception UI d'une application B2B impliquant diverses formes de visualisation de données. Yuna m’a fourni une analyse fine et très concrète des maquettes que je lui ai soumises. Notre échange m’a permis d’améliorer mon design jusqu’au moindre détail afin de le mettre en conformité avec les normes d’accessibilité.",
              author: "Nikita Vidal, UX/UI designer senior chez dynamo",
            },
          ]}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          screenshot={ProjectScreenshotSys1}
          tags={["Refonte UX", "Données de santé", "Outil métier"]}
          title="Refondre la solution Logus pour faciliter le suivi des dossiers usagères et usagers au sein des établissements médico-sociaux"
          testimonials={[
            {
              quote:
                "Avec une grande capacité de compréhension de l’ensemble des process spécifiques à notre secteur d’activité, Team UX a parfaitement su répondre aux besoins de nos différents métiers. Merci à Daniela et à Yuna pour leur dynamisme, leur réactivité et leur professionnalisme.",
              author: "Dominique Barillot, ingénieur commercial chez Sys1",
            },
            {
              quote:
                "Team UX a su prendre en charge l'ergonomie et le graphisme de LOGUS avec la plus grande efficacité et professionnalisme. Nous avons énormément apprécié la collaboration et notamment la réactivité, la disponibilité dont Team UX a fait preuve et surtout les idées qu'elles ont présentées. L'équipe a pris en compte nos contraintes temporelles, techniques et organisationnelles afin de répondre au mieux à notre besoin. Notre logiciel se modernise, les interfaces sont plus belles, l'ergonomie est plus travaillée et ce tout en gardant son identité et son ADN propre. Des échanges très riches. C'est un réel plaisir de pouvoir collaborer et travailler ensemble dans un cadre agréable et organisé.",
              author:
                "Julien Narboni, chef de projets technico-fonctionnel chez Sys1",
            },
          ]}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          screenshot={ProjectScreenshotInfopro}
          tags={["Design accessible", "Design review"]}
          title="Accompagner l’équipe design d’Infopro Digital dans la mise en conformité RGAA de leurs productions design"
          testimonials={[
            {
              quote:
                "J'ai découvert Yuna & Daniela grâce au réseau Opquast, dont nous sommes toutes trois certifiées. Elles ont démontré efficacité et pertinence en accompagnant mon équipe dans leur montée en compétence en accessibilité numérique. Grâce à leur expertise et leurs conseils avisés, nous avons pu mener rapidement à bien la mise en conformité RGAA d'interfaces clés pour nos produits B2B. Leur contribution a été très appréciée par l'équipe, avec qui elles ont collaboré de manière très fluide.",
              author: "Aurore Bourdier, Head of Design chez Infopro Digital",
            },
          ]}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          screenshot={ProjectScreenshotEkino}
          tags={[
            "Transformation numérique",
            "Système d’information",
            "Outils métier",
          ]}
          title="Refondre le système d’information d’un leader du transport pour faciliter les échanges internes et externes"
          testimonials={[
            {
              quote:
                "Tout simplement ravis de la collaboration avec Yuna et Daniela. La qualité de leur travail, de l'accompagnement de clients novices en la matière, des livrables et des analyses constructives et leur dynamisme ont été un vrai plus pour ce projet.",
              author: "Alexandre Pronine, manager technique chez Ekino",
            },
            {
              quote:
                "Comment arriver à travailler tous ensemble autour d’un si gros projet ? Daniela et Yuna, par leur expérience, leur bienveillance, leur écoute et leur méthodologie, ont complètement réussi leur challenge. Nous avons été impressionnés par la complicité qui est née entre nos collaborateurs et par les idées qui sont ressorties.",
              author: "La cliente, co-gérante d'une société de transport",
            },
            {
              quote:
                "Merci à vous les filles pour ce superbe travail, c’était une joie de faire ce projet avec vous. Vous avez toujours été d’une rigueur et d’une motivation sans faille.",
              author: "Camille Fion, consultante technique sénior chez Ekino",
            },
          ]}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          screenshot={ProjectScreenshotSSC}
          tags={["Stratégie UX", "Changement systémique", "Site Web"]}
          title="Concevoir le nouveau site Web et le nouveau discours de la School of System Change pour recruter les futures promotions"
          testimonials={[
            {
              quote:
                "Yuna and Daniela supported us with a brilliant UX strategy and wireframes for our new low-carbon website, which has made a huge difference to our organisation. Overall our website is performing very well and as we grow our impact and reach we’ll continue to work with them.",
              author: "Saskia Rysenbry, curator at School of System Change",
              lang: "en",
            },
          ]}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          screenshot={ProjectScreenshotCapAtlantique}
          tags={[
            "Design thinking",
            "Relation usagères et usagers",
            "Cartographie",
          ]}
          title="Développer l’empathie des équipes avec un outil de cartographie des parcours des usagères et usagers de l’agglomération"
          testimonials={[
            {
              quote:
                "Yuna et Daniela sont très à l'écoute et fiables. Nous avons été impressionnées par leur expertise design et leur efficacité. Elles ont également une belle capacité à questionner le besoin et à le reformuler. Nous avons pu croiser nos expertises de coaching et design au bénéfice de notre client, une collectivité de Loire Atlantique. Une collaboration d'une excellente qualité avec une vision à 360.",
              author:
                "Nathalie Dehouck et Marie Fréour, coachs et consultantes chez Sous le sens et Satori&co",
            },
          ]}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          screenshot={ProjectScreenshotDXOMARK}
          tags={["Stratégie UX", "Données complexes", "Site éditorial"]}
          title="Repenser la stratégie UX du leader de l’évaluation DXOMARK pour parler à un public aussi bien technophile que novice"
          testimonials={[
            {
              quote:
                "Chaque livrable démontre la capacité de Team UX à faire des propositions mûrement réfléchies, sur tous les aspects, toujours pertinentes et cohérentes.",
              author: "Etienne Knauer, SVP sales & marketing de DXOMARK",
            },
          ]}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <div class="mb-20 lg:mb-[50px]">
        <Project
          screenshot={ProjectScreenshotDesChalets}
          tags={["Refonte UX", "Habitat social", "Espace connecté"]}
          title="Refondre le site et les espaces connectés du bailleur social Groupe Des Chalets pour le rapprocher de ses cibles multiples"
          testimonials={[
            {
              quote:
                "Nous avons fait appel à Team UX pour plusieurs sites web et l'espace authentifié de l'un de nos clients (habitat social). Yuna et Daniela se sont très vite acculturées au sujet et ont produit des prototypes intégrant les bonnes pratiques de qualité (Opquast) et les règles d'accessibilité (RGAA) relatives au design. Elles ont fait preuve d'une grande rigueur et d'une capacité d'écoute.",
              author: "Jade Vincent, co-fondatrice de Rose Primaire",
            },
          ]}
        />
      </div>
      <Grid as="div">
        <Separator
          class="col-span-full sm:col-span-7 lg:col-start-2 lg:col-span-full xl:col-start-3"
        />
      </Grid>
    </li>
    <li>
      <Project
        screenshot={ProjectScreenshotMeyerDom}
        tags={["Conception UX", "Design accessible", "Application mobile"]}
        title="Concevoir la nouvelle appli de domotique MeyerDom pour les personnes handicapées et les institutions médicalisées"
        testimonials={[
          {
            quote:
              "Vous pouvez être certaines qu'avec un rendu pareil, je ne manquerai pas de refaire appel à vous.",
            author: "Julie Lapouge, chef de projet chez Mink",
          },
        ]}
      />
    </li>
  </ul>
</div>
