---
import { getImage } from "astro:assets";
import ListStyle from "images/list-style.svg";

interface Props {
  title: string;
  items: Array<{
    title: string;
    description?: string;
    events?: Array<{
      title: string;
      date: string;
    }>;
  }>;
}

const { title, items } = Astro.props;

const optimizedListStyle = await getImage({ src: ListStyle, format: "svg" });
---

<div class="px-5 py-[30px] lg:px-[30px] rounded-card bg-neutral2">
  <h2 class="text-headline-small-highlight mb-10">
    {title}
  </h2>
  <ul
    style={{ "--bg-image-url": `url(${optimizedListStyle.src})` }}
    class:list={[
      "space-y-[30px]",
      "*:pl-[37px]",
      "*:bg-[left_10px]",
      `*:bg-(image:--bg-image-url)`,
      "*:bg-no-repeat",
    ]}
  >
    {
      items.map((item) => (
        <li>
          <h3 class="text-title-small mb-1.5">{item.title}</h3>

          {item.description ? (
            <p class="text-body-normal text-paragraph">{item.description}</p>
          ) : null}

          {item.events ? (
            <ul class="text-body-normal text-paragraph">
              {item.events.map((event) => (
                <li>
                  <p class="text-body-normal">
                    {event.title}
                    <span class="text-tag-label font-sans text-secondary">
                      -&nbsp;{event.date}
                    </span>
                  </p>
                </li>
              ))}
            </ul>
          ) : null}
        </li>
      ))
    }
  </ul>
</div>
